<div id="site_search" class="">
  <input type="text" id="local-search-input" name="q" placeholder="search" class="form-control"/>
  <span id="jinrishici-sentence">正在加载今日诗词....</span>
</div>
<div id="local-search-result"></div>
